@model MailThingy.Models.Connection
@{
	Layout = "_Frame.cshtml";
}
<h3>Connection Message</h3>
@using (Html.BeginForm("Connection", "Main")) {
	<div class="form-group">
		@Html.LabelFor(x => x.Employee)
		@Html.TextBoxFor(x => x.Employee, new { @class = "form-control" })
	</div>
	<div  class="form-group">
		@Html.LabelFor(x => x.Username)
		@Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
	</div>
	<div  class="form-group date-time-group">
		@Html.LabelFor(x => x.Time)
		@Html.TextBoxFor(x => x.Time, new { @class = "form-control date-time" })
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary submit-button" />
	</div>
}